.margin {
  margin: 50px 200px;
}

/* TEXT TOP BAR */

a:hover {
  color: lightgrey;
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: black;
}

.container_head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Helvetica;
  font-stretch: 80%;
  color: #000000
}

.container_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-weight: 200;
  font-size: 28px;
  color: #000000
}

.lighter_grey {
  margin-top: 8px;
  font-stretch: 240%;
  color: #9F9F9F;
  font-size: 13px;
}

.container_right {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Helvetica;
  font-size: 14px;
  color: #000000
}

/* TEXT TOP BAR *END/


/* CONTAINER BODY */

/* HOVER IMG*/

.container_body {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px 0px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: Helvetica;
  font-weight: 100;
  color: black;
  font-size: 36px;
  padding: 8px 18px;
  font: Helvetica;
}

.container_body:hover .image {
  opacity: 0.3;
}

.container_body:hover .image-text {
  opacity: 1;
}

/*hover img end*/

.container_foot {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Helvetica;
  font-size: 12px;
}

.image_footer {
  margin: 15px 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#infor {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}