/* -------------------------shared---------------------- */

@media screen and (max-width: 980px) {
    #topbar {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    #topbar-right {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
    body {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    .text-body-title {
        font-size: 10px !important;
        align-items: center !important;
    }
    .text-body-description {
        font-size: 7px !important;
    }
    /*----about----- */
    #image-me {
        width: 85% !important;
        margin-bottom: 0px !important;
    }
    .text-about-hi {
        font-size: 23px !important;
    }
    .text-about-intro {
        align-items: center !important;
        font-size: 14px !important;
        width: 70% !important;
    }
    .container-body-intro-row {
        flex-direction: column !important;
        align-items: center !important;
        width: 90% !important;
        margin-left: 3% !important;
    }
    .container-body-left {
        width: 90% !important;
        margin-left: 1% !important;
    }
    .container-body-right {
        width: 95% !important;
        margin-left: 6% !important;
    }
    .container-body-right-nomargin {
        width: 90% !important;
    }
    .text-left-title {
        font-size: 18 !important;
    }
    .text-right-title {
        font-size: 16 !important;
    }
    .text-right-description {
        font-size: 12 !important;
    }
    hr {
        width: 85% !important;
        margin-top: 22% !important;
        margin-bottom: 22% !important;
        background-color: lightgray!important;
    }
}

body {
    font-family: Helvetica;
    margin: 50px/* top&bottom*/
    200px/* left&right*/
    ;
}

/* TEXT TOP BAR */

a:hover {
    color: darkgrey;
}

a.hover_onimg:hover {
    color: #202020;
    font-weight: 350;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    color: black;
}

img {
    width: 100%;
}

hr {
    width: 45%;
    height: 1px;
    border-width: 0;
    background-color: grey;
    margin-top: 20%;
    margin-bottom: 20%;
}

br {
    display: block;
    line-height: 40px;
}

.blank {
    height: 5%;
    display: block;
}

.blank-top {
    height: 15%;
}

.blank-thicker {
    height: 35%;
}

.active {
    font-weight: 400;
}

.inactive {
    color: grey;
    font-weight: 100;
}

.lighter_font {
    color: #9F9F9F;
    font-size: 12px;
}

#topleftlighterfont {
    margin-top: 1px;
    font-size: 17px;
    font-stretch: 240%;
}

.container-head {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-stretch: 80%;
}

.container-head-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    font-size: 28px;
}

.container-head-right {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 100;
}

/* TEXT TOP BAR END*/

/* --------------------font------size----body----------------- */

.text-body-title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 0px;
}

.text-body-description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 12px;
    line-height: 20px;

}

/* --------------------font------size----body----------------- */

/* BODY */

/* HOVER BODY IMG*/

.container_body {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 7% 10%;
}

.container-body-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px/* top&bottom*/
    200px/* left&right*/
    ;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.image-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-text-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 100;
    font-size: 36px;
    padding: 8px 18px;
}

.image-text {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.container_body:hover .image-hover {
    opacity: 0.2;
}

.container_body:hover .image-text-hover {
    opacity: 1;
}

/* HOVER IMG END*/

/* BODY */

.container_footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
}

.image_footer {
    margin: 15px/* top&bottom*/
    10px/* left&right*/
    ;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#infor {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.horizontal-line {
    border-top: 1px solid black;
    opacity: 0.3;

    height: 0px;
    width: 50%;
    margin: 5%/* top&bottom*/ 10%/* left&right*/;

}

.vertical-line {
    border-left: 5px solid gray;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 30;
}

/* ------------about--font-size-containers----body----------------- */

.container-body-about {
    flex-direction: column;
}

.container-body-intro-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-body-intro-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 22%;
}

.container-body-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    width: 100px;
}

.container-body-right {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 28%;
    width: 50%;
}

.container-body-right-nomargin {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0%;
}

.container-body-right-insertion {
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
}

.container-body-project {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.container-body-project-img {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}

.text-about-hi {
    margin: 100px/*t&b*/
    0px/*l&r*/
    ;
    font-weight: 100;
    font-size: 38px;
}

.text-about-intro {
    margin: 5px/* top&bottom*/
    28%;
    font-weight: 100;
    font-size: 18px;
}

.text-time {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 100;
    font-size: 10px;
}

.text-title-left {
    margin-top: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
    font-size: 18px;
}

.text-title-right {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 400;
    font-size: 18px;
}

.text-right-description {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: lighter;
    font-size: 14px;
}

/* ------------abput--font-size-containers----body----------------- */

/* ---------------------------unique------------------------- */

#image-rc {
    width: 40%;
    height: auto;
}

#image-rotation-curve {
    width: 120%;
    height: auto;
}

#image-me {
    width: 15%;
    height: auto;
    margin-bottom: 90px;
}

/* --------------------unique--------body----------------- */