@media screen and (max-width: 950px) {
    br {
        line-height: 23px !important;
    }
    .vertical-line {
        height: 100px !important;
        margin: 20px/* top&bottom*/
        0% !important/* left&right*/
        ;
    }
    /* header */
    .main-tool-bar {
        height: 180px !important;
        flex-direction: column !important;
    }
    .head-left {
        font-size: 60px !important;
        margin: 0px !important;
        font-weight: 300;
    }
    .head-right {
        flex-direction: column !important;
        align-items: center !important;
        font-size: 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 12px !important;
    }
    /* header */
    /* body */
    .body-intro {
        flex-direction: column !important;
    }
    .t-hello {
        margin-bottom: 20px;
    }
    .t-hi {
        font-size: 36px !important;
    }
    .t-me {
        font-size: 26px !important;
        line-height: 40px !important;
    }
    .t-me-1 {
        margin-top: 10px!important;
        font-size: 12px !important;
    }
    .t-intro {
        font-size: 20px !important;
    }
    .divider {
        width: 50px !important;
        /* weight */
        border-top: 1px solid rgb(83, 83, 83)!important;
        /* height */
        margin: 36px/* top&bottom*/
        0px !important/* left&right*/
        ;
    }
    .divider1 {
        width: 30px !important;
        /* weight */
        border-top: 1px solid rgb(83, 83, 83) !important;
        /* height */
        margin: 22px/* top&bottom*/
        0px !important/* left&right*/
        ;
    }
    /* body */
    /* content */
    .t-tl {
        font-size: 16px !important;
    }
    .se-arrow {
        width: 5% !important;
    }
    /* content */
    /* about me */
    .t-titlepls {
        font-size: 8px !important;
    }
    .t-title {
        font-size: 8px !important;
    }
    .t-subtitle {
        font-size: 8px !important;
    }
    .t-time {
        font-size: 6px !important;
    }
    /* about me */
    /* footer */
    .footer {
        flex-direction: column !important;
        height: 90px !important;
    }
    .footer-left {
        justify-content: center !important;
        font-size: 12px !important;
        margin-top: 20px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .footer-right {
        margin: 0px !important;
    }
    .footer-logo {
        margin: 20px/* top&bottom*/
        10px !important/* left&right*/
    }
    #bottom-arrow {
        height: 128px;
    }
}

@media screen and (max-width: 1550px) {
    /* header */
    .head-right-1550 {
        margin: 0px/* top&bottom*/
        15px !important/* left&right*/
        ;
        font-size: 22px;
    }
    /* body */
    #t-hello-1550 {
        font-size: 26px;
    }
    #t-hi-1550 {
        font-size: 46px;
    }
    #t-me-1550 {
        font-size: 40px;
        line-height: 45px;
    }
    /* footer */
}

a:hover {
    color: #a8d9d9;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:link.text-about-resume {
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

a:visited {
    text-decoration: none;
}

a {
    color: black;
}

img {
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

/* Hover */

@keyframes hover {
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(-19px);
    }
}

.ArrowHover {
    display: inline-block;
    transition-duration: 0.5s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ArrowHover:hover {
    transform: translateY(-16px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.float {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
    transform: translateY(-15px);
}

strong {
    font-weight: 500;
}

hr {
    width: 700px;
    height: 1px;
    border-width: 0;
    background-color: black;
    margin-top: 10%;
    margin-bottom: 15%;
    opacity: 0.3;
}

br {
    display: block;
    line-height: 40px;
}

.circle {
    position: absolute;
    border: solid 1px rgb(92, 92, 92);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8;
}

.active {
    font-weight: 400;
}

.inactive {
    color: grey;
    font-weight: 100;
}

.horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
    height: 0px;
    width: 130px;
    margin-top: 0px;
    margin-bottom: 18px;
}

.vertical-line {
    border-left: 1px solid gray;
    height: 160px;
    margin: 120px/* top&bottom*/
    0%/* left&right*/
    ;
}

/*progress bar*/

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    width: 100%;
    background-color: #f1f1f1;
}

.progress-container {
    width: 100%;
    height: 5px;
    background: whitesmoke;
}

.progress-bar {
    height: 3px;
    background: black;
    width: 0%;
}

/*progress bar*/

/*head tool bar scroll*/

.main-tool-bar {
    z-index: 2;
    border-bottom: 1px solid whitesmoke;
    height: 100px;
    text-align: center;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-tool-bar--scrolled {
    height: 40px;
}

.scrollable-area {
    height: 200vh;
    background-color: black;
}

.head-left {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 38px;
    margin-left: 6%;
}

.head-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 26px;
    font-weight: 300;
    margin-right: 6%;
}

/*head tool bar scroll end*/

/* body-intro */

body {
    font-family: 'Lato', sans-serif;
}

.body-margin {
    margin: 0px/* top&bottom*/
    6%/* left&right*/
    ;
}

.body-landing {
    display: flex;
    flex-direction: column;
    margin: 0px/* top&bottom*/
    8%/* left&right*/
    ;
}

.body-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.t-hello {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 33px;
}

.t-hi {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
}

.t-me {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    margin-left: 0px;
    line-height: 80px;
}

.divider {
    width: 1px;
    /* weight */
    border-top: 150px solid black;
    /* height */
    margin: 0px/* top&bottom*/
    80px/* left&right*/
    ;
}

.divider1 {
    display: flex;
    align-items: center;
    width: 1px;
    /* weight */
    border-top: 60px solid black;
    /* height */
    margin: 0;
}

.t-intro {
    font-weight: 100;
    font-size: 58px;
}

.body-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0px/* top&bottom*/
    0px/* left&right*/
    ;
}

.body-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px/* top&bottom*/
    0px/* left&right*/
    ;
}

/* body-intro */

/* content */

.content-tl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 380px;
}

.t-tl {
    font-family: inherit;
    font-size: 30px;
    font-weight: 100;
}

.se-arrow {
    width: 1.6%;
    height: auto;
    margin-left: 1%;
}

/* content */

/* Photography */

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.photos {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1000px;
}

.photo {
    display: none;
}

.photo-selected {
    display: block;
}

.indicators {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    bottom: 180px;
}

.indicator {
    width: 30px;
    height: 2px;
    border: 0px solid #73AD21;
    margin: 2px;
    background-color: whitesmoke;
}

.indicator-selected {
    background-color: grey;
}

button {
    background-color: Transparent;
    color: black;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 46px;
    cursor: pointer;
    outline: none;
    font-weight: light;
    padding: 200 100px;
    margin-top: 30px;
    width: 300px;
}

/* Photography */

/* about me */

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
}

.t-titlepls {
    font-size: 26px;
    margin-bottom: 45px;
}

.t-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.t-subtitle {
    font-size: 18px;
    font-weight: 100;
    margin: 2px/* top&bottom*/
    0px/* left&right*/
    ;
}

.t-time {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 15px;
}

.body-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.body-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* about me */

.body-img {
    width: 50%;
}

.body-txt {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 9%px;
}

/* back to top btn */

#myBtn {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 99;
    font-size: 22px;
    font-weight: 100;
    font-family: inherit;
    border: none;
    outline: none;
    background-color: Transparent;
    color: none;
    cursor: pointer;
    padding: 18px;
    border-radius: 50px;
    opacity: 0.9;
}

#bottom-arrow {
    height: 130px;
    margin-bottom: -40px;
}

/* back to top */

.footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    background-color: whitesmoke;
    height: 160px;
    border-top: 1px solid rgb(238, 238, 238);
    opacity: 0.9;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    font-weight: 100;
    font-size: 18px;
    font-family: inherit;
    margin-left: 6%;
}

.footer-right {
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 26px;
    font-weight: 300;
    margin-right: 6%;
}

.footer-logo {
    margin: 15px/* top&bottom*/
    12px/* left&right*/
    ;
    width: 60%;
    height: auto;
    cursor: pointer;
}

/* ------------about--font-size-containers----body----------------- */

/* ------------abput--font-size-containers----body----------------- */

/* ---------------------------unique------------------------- */

/* --------------------unique--------body----------------- */