<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta name="title" content="BabyQuip">
  <title>BabyQuip</title>
  <link rel="canonical" href="https://vickywang.me/babyquip/">
  <meta name="author" content="Vicky W.">

  <!-- Basic Metadata -->



  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="../scripts.js"></script>
  <script type="text/javascript" src="../scripts_project.js"></script>




  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">



  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <!--handwriting font-family: 'Indie Flower'; -->



  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!--jQuery-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!--jQuery 07182022-->
  <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!--aos-->


  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E8YXDWJST2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-E8YXDWJST2');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->





</head>

<body>
  <header class="header">

    <div class="wrapper">
      <a><img class="HeaderLogo" src="LOGO.svg"></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="" class="inactive">How It Works</a></li>
        <li><a href="" class="inactive">Trust & Safety</a></li>
        <li><a href="" class="inactive">List Your Gear</a></li>
        <li><a href="" class="inactive">Party Rentals</a></li>
        <li><a href="" class="inactive">Cleaning Services</a></li>
        <li><a href="" class="inactive">Gift Card</a></li>
        <li><a href="" class="inactive">About</a></li>



        <li class="displayLaptop"> <button class="Button Primary marginSFix ">Sign up</button></li>

        </li>




    </div>

  </header>
  <div class="blankHeader"></div>
  <div class="">



    <div class="ProjectBanner displayLaptop">

      <img src="image_monitor.jpg" alt="">


    </div>

    <div class="ProjectBanner displayTablet">


      <img class="displayTablet" src="image_desktop.png" alt="">
      <div class="ProjectBannerInnerND">
        <div class="blankHS"></div>
        <h2 class="colorWhite">GEAR RENTAL</h2>
        <h1 class="fontWeight700 specialTextBabyQuip colorWhite">Must Have</h1>

        <h3 class="colorWhite">for Holiday Travel</h3>
        <div class="blankHXS"></div>


        <button class="Button_Holiday">RENT NOW</button>

        <div class="blankHS"></div>

      </div>
    </div>


    <div class="ProjectBanner displayPhone">

      <img class="displayPhone" src="image_mobile.png" alt="APPOINTA">
      <div class="ProjectBannerInnerND">
        <div class="blankHS"></div>
        <h2 class="colorWhite">GEAR RENTAL</h2>
        <h1 class="fontWeight700 specialTextBabyQuip colorWhite">Must Have</h1>

        <h3 class="colorWhite">for Holiday Travel</h3>
        <div class="blankHXS"></div>


        <button class="Button_Holiday">RENT NOW</button>
        <div class="blankHS"></div>

      </div>
    </div>
    <img src="image_banner.jpg" alt="">

  </div>









</body>




</html>