textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  border: solid 1px rgb(221, 221, 221);
}

.accordion-content {
  display: none;
  margin: 5px 0;
}
.accordion-content.active {
  display: block;
}
.accordion-header {
  cursor: pointer;
}
