<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1 colorBlack">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:`Vicky's Resume`, description:`I'm a UX Designer focused on
  bridging efficiency and engagement in SaaS, administrative Interfaces, and user-Driven applications`, pageURL:'',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body>
  <%- include( `${templatePath}/shared/comp_progressBar`) %>

  <%- include(`${templatePath}/shared/block_nav_header_back`, { PageUrl:`${websitePath}/`, arrTxtColor:``,
        headerBackgroundColor:`colorBgVW`, sectionURL1:'/#projects', sectionURL2:'/#experiments',
        sectionURL3:'/#design_system', sectionURL4:'/#about', }) %>

  <div class="wrapper">
    <div class="blankHXS"></div>

    <div class="Grid Grid--gutters Grid--full u-textCenter positionFixed">
      <div class="Grid-cell">
        <div class="element ">
          <a href="/resume/resume.pdf" target="_blank"> <button class="buttonSmall buttonPrimary bgVWGrey">PDF Resume
            </button></a>
          <!--buttonBlack-->

        </div>
      </div>
    </div>
  </div>

  <div class="marginM">

    <div class="wrapper colorBgVW pattern2 shadowBox ">
      <div class="blankHTiny"></div>
      <div class="Grid Grid--gutters Grid--full">
        <div class="Grid-cell">
          <div class="row centerVer">
            <div class="logo-container">
              <img src="/icon/LOGO_2.svg" alt="VW Studio Logo V0" class=" logo logo-0">
              <img src="/icon/LOGO_3.svg" alt="VW Studio Logo V1" class=" logo logo-1">
            </div>
            <h1 class="colorYellowVW700 fontWeight700"> Vicky(Yiqi) Wang </h1>
          </div>
        </div>
        <div class="Grid-cell">
          <div class="element">
            <h4>UX Design | Product Design </h4>
            <h3 class="textItalic fontWeight300 ">Passionate about crafting intuitive, impactful UX for users & businesses</h3>

          </div>
        </div>

      </div>

      <div class="Grid Grid--gutters Grid--1of3">

        <div class="Grid-cell">
          <div class="element">
            <h3 class="colorYellowVW700 fontWeight700 widthFitContent"> EDUCATION </h3>



            <h5 class="fontWeight500">University of California, Berkeley </h5>
            <h6 class="fontWeight300">Master of Architecture | <span class="textItalic fontWeight300"> 3-Year Program</span></h6>
            <h6 class="textItalic"> Aug. 2015 - May 2017 | Aug. 2018 - May 2019</h6>
            <h6> Architecture & Building Science/Technology
            </h6>

            <div class="blankHTiny"></div>

            <h5 class="fontWeight500">Beijing University of Technology </h5>

            <h6 class="fontWeight300">Bachelor of Art | <span class="textItalic fontWeight300"> 4-Year Program</span></h6>
            <h6 class="textItalic"> September 2009 - July 2013</h6>
            <h6> Art &amp; Design &amp; Landscape Design </h6>
            <div class="blankHTiny"></div>

            <h5 class="fontWeight500">Certifications </h5>
            <h6 class="fontWeight400 TextPoppins Grey700">Google UX Design Professional Certificate:</h6>
            <h6>Start the UX Design Process: Empathize, Define, and Ideate <span class="textItalic fontWeight200 TextPoppins Grey700">(Oct. 2021)</span></h6>
            <h6>Foundations of UX Design <span class="textItalic fontWeight200 TextPoppins Grey700">(Sep. 2021)</span></h6>
            <div class="blankHTiny"></div>


            <h6 class="fontWeight400 TextPoppins Grey700">Codecademy:</h6>
            <h6>User Research (Apr 2023)</h6>
            <h6>Design Thinking (Apr 2023)</h6>

            <h6>Interaction Design (May 2023)</h6>
            <h6>JavaScript (Mar 2023)</h6>

            <div class="blankHTiny"></div>

            <h6 class="fontWeight400 TextPoppins Grey700">Udemy:</h6>
            <h6>Become a Product Manager: Learn the Skills & Get the Job (Dec 2024)</h6>
            <h6>The Complete JavaScript Course: From Zero to Expert! (Jan. 2025)</h6>
          </div>

          <div class="element">

            <h3 class="colorYellowVW700 fontWeight700 widthFitContent"> SKILLS</h3>

            <h5 class="fontWeight500">Design & Research </h5>
            <h6>UX Design, Usability Testing, User Research, Wireframing, Prototyping</h6>
            <h6>Design Systems, Responsive Design, Interaction Design, Visual Design</h6>
            <div class="blankHTiny"></div>


            <h5 class="fontWeight500">Software</h5>
            <h6>Figma, Adobe XD, Sketch, Adobe Creative Suite</h6>
            <div class="blankHTiny"></div>

            <h5 class="fontWeight500">Technical Skills </h5>
            <h6>HTML, CSS, JavaScript, JQuery</h6>
            <h6>Rhino, AutoCAD, 3D Max, Unity</h6>
            <div class="blankHTiny"></div>

            <div class="notDisplayMobile">
              <h5 class="fontWeight500">Architectural Design </h5>
              <h6>Buro OS | Architectural Designer <span class="textItalic fontWeight200 TextPoppins Grey700">(2017-2018)</span></h6>

              <h6>In Design Studio | Summer Intern  <span class="textItalic fontWeight200 TextPoppins Grey700">(2017)</span></h6>


              <h6>PDI Design Group | Architectural Designer <span class="textItalic fontWeight200 TextPoppins Grey700">(2013-2015)</span> </h6>

              <h6>Do Union | Designer <span class="textItalic fontWeight200 TextPoppins Grey700">(2010 - 2012)</span></h6>
            </div>


          </div>





        </div>


        <div class="Grid-cell">
          <div class="element">
            <h3 class="colorYellowVW700 fontWeight700 widthFitContent"> EXPERIENCE</h3>


            <h4><strong>BabyQuip | Senior User Experience Designer </strong></h4>
            <h6 class="textItalic">Oct. 2024 - Present, Full-time</h6>


            <ul class="listCircle">
              <li class="listLoose">Led the transition from a provider-first to a gear-first mobile experience, enhancing discoverability, mobile usability, and increasing average order value by 12%. </li>
              <li class="listLoose">Redesigned the BabyQuip mobile app to streamline booking, checkout, and navigation—reducing drop-offs and improving retention.

              </li>
              <li class="listLoose">Overhauled B2B inventory management to support partner scalability and simplify gear organization.

              </li>
              <li class="listLoose">Improved filters, checkout, and gear selection on the website to enhance discovery and pricing transparency, optimizing conversions.

              </li>
              <li class="listLoose">Built a scalable design system to ensure consistency and efficiency across web and mobile platforms.

              </li>

            </ul>
          </div>
          <div class="element">
            <h4><strong>BookYourPet | User Experience Designer </strong></h4>

            <h6 class="textItalic">Feb. 2024 - Oct. 2024, Full-time | Oct. 2021 - Feb. 2024, Full-time Contractor</h6>


            <ul class="listCircle">
              <li class="listLoose">Scaled the B2B user base from 0 to 500+, reducing booking time to under 1 minute.

              </li>
              <li class="listLoose">Shifted onboarding to a self-service model, reducing support overhead.

              </li>
              <li class="listLoose">Redesigned the B2C mobile experience, boosting conversions by 169% and shortening booking time by 6 minutes.

              </li>
              <li class="listLoose">Built a scalable design system to improve product consistency and streamline developer workflows.

              </li>




            </ul>
          </div>
          <div class="element">

            <h4><strong>LASO Health | Product Designer </strong></h4>
            <h6 class="textItalic">Aug. 2023 - Jan. 2024, Part-time Contractor</h6>

            <ul class="listCircle">
              <li class="listLoose">Designed and launched the first version of an admin panel for user management.</li>
              <li class="listLoose">Developed a cost-benefit calculator, improving subscription conversions.</li>
              <li class="listLoose">Improved design system clarity and usability across web and mobile.

              </li>




            </ul>
          </div>
          <div class="element">
            <h4><strong>Modernized Mobile LLC | UX Designer </strong></h4>
            <h6 class="textItalic">June. 2023 - Aug.2023, Part-time Contractor</h6>

            <ul class="listCircle">
              <li class="listLoose">Designed a tablet-based admin panel for the “Clean Spaces” app.

              </li>





            </ul>
          </div>
          <div class="element">
            <h4><strong>vickywang.me | Freelancer </strong></h4>
            <h6 class="textItalic">Aug. 2020 - Present, Owner</h6>

            <ul class="listCircle">
              <li class="listLoose">Designed and maintained a responsive portfolio site using HTML, CSS, JavaScript, and EJS, deployed on AWS.

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blankHXXS"></div>




    </div>
    <div class="blankHM"></div>

  </div>

</body>

</html>