<!DOCTYPE html>
<html lang="en" class="colorBgVW pattern1">
<!--Head-->
<%- include(`${templatePath}/shared/head`, {SEO:true, Title:`Vicky's Resume`, description:`I'm a UX Designer focused on
  bridging efficiency and engagement in SaaS, administrative Interfaces, and user-Driven applications`, pageURL:'',
  thumbnailImgURL: 'vickywang_web.png' }) %>
<!--Head-->

<body>
  <%- include( `${templatePath}/shared/comp_progressBar`) %>

  <%- include(`${templatePath}/shared/block_nav_header_back`, { PageUrl:`${websitePath}/`, arrTxtColor:``,
        headerBackgroundColor:`colorBgVW`, sectionURL1:'/#projects', sectionURL2:'/#experiments',
        sectionURL3:'/#design_system', sectionURL4:'/#about', }) %>

  <div class="wrapper">
    <div class="blankHXS"></div>

    <div class="Grid Grid--gutters Grid--full u-textCenter positionFixed">
      <div class="Grid-cell">
        <div class="element ">
          <a href="/resume/resume.pdf" target="_blank"> <button class="buttonSmall buttonPrimary bgVWGrey">PDF Resume
            </button></a>
          <!--buttonBlack-->

        </div>
      </div>
    </div>
  </div>

  <div class="marginM">

    <div class="wrapper colorBgVW pattern2 shadowBox ">
      <div class="blankHXXS"></div>
      <div class="Grid Grid--gutters Grid--full">
        <div class="Grid-cell">
          <div class="row centerVer">
            <div class="logo-container">
              <img src="/icon/LOGO_2.svg" alt="VW Studio Logo V0" class=" logo logo-0">
              <img src="/icon/LOGO_3.svg" alt="VW Studio Logo V1" class=" logo logo-1">
            </div>
            <h1> <strong class="colorYellowVW700"> VICKY WANG</strong> </h1>


          </div>
        </div>
        <div class="Grid-cell">
          <h6>&#160; &#160; UX Design | Product Design </h6>
        </div>

      </div>



      <div class="Grid Grid--gutters Grid--1of3">

        <div class="Grid-cell">
          <div class="element">
            <h3> <strong class="colorYellowVW700"> EDUCATION</strong> </h3>



            <h4><strong>University of California, Berkeley </strong></h4>
            <h6 class="textItalic"> Aug. 2015 - May 2017 | Aug. 2018 - May 2019</h6>


            <h6 class="fontWeight400">Master of Architecture</h6>

            <h6>College of Environmental Design, 3-year Program</h6>

            <h6>Architecture & Building Science/Technology </h6>
            <div class="blankHTiny"></div>

            <h4> <strong>Beijing University of Technology </strong> </h4>
            <h6 class="textItalic"> September 2009 - July 2013</h6>

            <h6 class="fontWeight400">Bachelor of Art</h6>
            <h6> Art &amp; Design &amp; Landscape Design </h6>
            <div class="blankHTiny"></div>

            <h4> <strong>Certifications </strong> </h4>
            <h6 class="fontWeight400">Google UX Design Professional Certificate (2021)</h6>
            <h6 class="fontWeight400">Codecademy:</h6>
            <h6>User Research (Apr 2023)</h6>
            <h6>Design Thinking (Apr 2023)</h6>

            <h6>Interaction Design (May 2023)</h6>
            <h6>JavaScript (Mar 2023)</h6>


            <h6 class="fontWeight400">Udemy:</h6>
            <h6>Become a Product Manager: Learn the Skills & Get the Job (Dec 2024)</h6>
            <h6>The Complete JavaScript Course: From Zero to Expert! (In Progress, Jun 2024)</h6>



          </div>

          <div class="element">

            <h3> <strong class="colorYellowVW700"> SKILLS</strong> </h3>
            <h5> <strong>Design & Research</strong> </h5>
            <h6>UX Design, Usability Testing, User Research, Wireframing, Prototyping</h6>
            <h6>Design Systems, Responsive Design, Interaction Design, Visual Design</h6>
            <div class="blankHTiny"></div>


            <h5> <strong>Software</strong> </h5>
            <h6>Figma, Adobe XD, Sketch, Adobe Creative Suite</h6>
            <div class="blankHTiny"></div>

            <h5> <strong>Technical Skills</strong> </h5>
            <h6>HTML, CSS, JavaScript, JQuery</h6>
            <h6>Rhino, AutoCAD, 3D Max, Unity</h6>

          </div>


          <div class="element notDisplayMobile">

            <h3> <strong class="colorYellowVW700"> ARCHITECTURAL DESIGN </strong> </h3>
            <h5><strong>Buro OS | Architectural Designer </strong></h5>
            <h6 class="textItalic">Aug. 2017 - Jul.2018</h6>
            <div class="blankHTiny"></div>

            <h5><strong>In Design Studio | Summer Intern </strong></h5>
            <h6 class="textItalic">May. 2017 - Aug.2017</h6>
            <div class="blankHTiny"></div>


            <h5><strong>PDI Design Group | Architectural Designer </strong></h5>
            <h6 class="textItalic">Dec. 2013 - Jul.2015</h6>
            <div class="blankHTiny"></div>

            <h5><strong>Do Union | Designer </strong></h5>
            <h6 class="textItalic">Jul. 2010 - May.2012</h6>
          </div>




        </div>


        <div class="Grid-cell">
          <div class="element">
            <h3><strong class="colorYellowVW700"> EXPERIENCE</strong></h3>


            <h4><strong>BabyQuip | Senior User Experience Designer </strong></h4>
            <h6 class="textItalic">Oct. 2024 - Present, Full-time</h6>


            <ul class="listCircle">
              <li class="listLoose">Led the transition from a provider-first to a Gear-First mobile redesign and supported improvements to the responsive web experience, enhancing discoverability, mobile usability, and increasing average order value by 12%.</li>
              <li class="listLoose">Redesigned the BabyQuip mobile app, streamlining booking, checkout, and navigation to reduce drop-offs and improve retention.</li>
              <li class="listLoose">Revamped B2B inventory management, enabling scalability for partners and simplifying gear organization.</li>
              <li class="listLoose">Enhanced website filters, checkout, and gear selection, improving gear discovery and pricing transparency to optimize conversions.</li>
              <li class="listLoose">Built a scalable design system, ensuring consistency and efficiency across web and mobile.</li>

            </ul>
          </div>
          <div class="element">
            <h4><strong>BookYourPet | User Experience Designer </strong></h4>

            <h6 class="textItalic">Feb. 2024 - Oct. 2024, Full-time | Oct. 2021 - Feb. 2024, Full-time Contractor</h6>


            <ul class="listCircle">
              <li class="listLoose">Scaled the B2B user base from 0 to 500+, streamlining booking to under 1 minute.</li>
              <li class="listLoose">Transitioned onboarding to self-service, reducing support overhead.</li>
              <li class="listLoose">Redesigned the B2C mobile booking experience, boosting conversions by 169% and cutting booking time by 6 minutes.</li>
              <li class="listLoose">Established a scalable design system, improving product consistency and developer efficiency.</li>




            </ul>
          </div>
          <div class="element">

            <h4><strong>LASO Health | Product Designer </strong></h4>
            <h6 class="textItalic">Aug. 2023 - Jan. 2024, Part-time Contractor</h6>

            <ul class="listCircle">
              <li class="listLoose">Led the 0-1 launch of an Admin Panel for user management.</li>
              <li class="listLoose">Developed a cost-benefit calculator, improving subscription conversions.</li>
              <li class="listLoose">Improved clarity and usability of the design system across web and mobile.</li>




            </ul>
          </div>
          <div class="element">
            <h4><strong>Modernized Mobile LLC | UX Designer </strong></h4>
            <h6 class="textItalic">June. 2023 - Aug.2023, Part-time Contractor</h6>

            <ul class="listCircle">
              <li class="listLoose">Designed a tablet-based admin panel for the "Clean Spaces" app.</li>





            </ul>
          </div>
          <div class="element">
            <h4><strong>vickywang.me | Freelancer </strong></h4>
            <h6 class="textItalic">Aug. 2020 - Present, Owner</h6>

            <ul class="listCircle">
              <li class="listLoose">Designed and maintained a responsive portfolio site using HTML, CSS, JavaScript, and EJS, deployed on AWS.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blankHXXS"></div>




    </div>
    <div class="blankHM"></div>

  </div>

</body>

</html>