<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Phase 1: Core Mechanics (Refined Muscle Memory)</title>

  <!-- Google Font Preconnect-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Google Font Preconnect-->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet" />
  <!--sitewide font-family: 'Lato', sans-serif; -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
</head>

<body class="wrapper">
  <div class="marginS">
    <h1>Phase 1: Core Mechanics (Refined Muscle Memory)</h1>



    <br />


    <br />


    <h2>Objective: Deepen understanding of language fundamentals by building your own “toolkit”</h2>

    <br />
    <br />


    <h2>Concept: Primitive vs Reference</h2>
    <ul class="listCircle">
      <li>Primitive = Copy by Value</li>
      <li>Object = Copy by Reference</li>
      <li>Shallow Copy</li>
    </ul>

    <br />

    <h2>Concept: Functions & Scope</h2>


    <h3>Core Concepts:</h3>

    <ul class="listCircle">
      <li>Functions are logic containers: input → process → output.</li>
      <li>Scope defines where variables “live” and who can “see” them.</li>
      <li>Encapsulation means each function protects its internal variables unless explicitly returned.</li>
    </ul>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  </div>

  <hr />

  <!-- ==================== links ===================== -->

  <link rel="stylesheet" href="../main.css" />
  <link rel="stylesheet" href="style.css" />

  <script src="script.js"></script>
  <script src="../script.js"></script>

</body>

</html>