<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Methods</title>


  <!-- Google Font Preconnect-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- Google Font Preconnect-->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap" rel="stylesheet">
  <!--sitewide font-family: 'Lato', sans-serif; -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="wrapper">
  <div class="marginS">
    <h1>Practice with ChatGPT: Methods

    </h1>




    <hr>

    <br>



    <br>


    <h2>slice()</h2>

    <ul id="updateSentence"></ul>
    <br>

    <hr>

    <br>
    <h2>split()</h2>
    <ul id="colorArray"></ul>
    <br>

    <hr>

    <br>
    <h2>join()</h2>
    <ul id="fruitText"></ul>
    <br>

    <hr>

    <br>
    <h2>split() → edit → join()</h2>
    <p id="animalText"></p>

    <br>


    <hr>

    <br>
    <h2>Input → List </h2>


    <input id="userInput" placeholder="Type items, separated by commas" />
    <button id="convertButton">Convert</button>
    <ul id="resultList"></ul>

    <br>


    <hr>

    <br>
    <h2>Input → List Rewrite</h2>


    <input id="enteredValue" placeholder="Type items, separated by commas" />
    <button id="button">Convert</button>
    <ul id="returnedList"></ul>

  </div>


  <!-- lesson 2-->




  <hr>





  <!-- =====================links====================== -->

  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</body>

</html>