doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Pug Template
    link(rel="stylesheet", href="styles.css")
  body
    header
      h1 My Website Again
      nav
        ul
          li: a(href="#") Home
          li: a(href="#about") About
          li: a(href="#contact") Contact
    main
      h2 Welcome to My Pug Template
      p This is a paragraph in a simple Pug template.
      p You can use Pug to write more concise and readable HTML.
    footer
      p © 2023 My Website
