<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Closure Warmup — "Private Counter" </title>
</head>

<body class="wrapper">
  <div>
    <div>
      <h1>Closure Warmup — "Private Counter" | 2025.10 </h1>
    </div>




  </div>
  <hr>
  <!-- lesson 1-->

 


  <!-- =====================links====================== -->

  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</body>

</html>