a:link.textUnderline {
    text-decoration-line: underline;
    text-decoration-thickness: 0.03em;
    text-underline-offset: 6px;
    text-decoration-color: var(--Grey900);
}

.textUnderline {
    text-decoration-line: underline;
    text-decoration-thickness: 0.03em;
    text-underline-offset: 6px;
    text-decoration-color: var(--Grey900);
}

/* text*/

.allCaps {
    text-transform: uppercase;
}

.strikethrough {
    text-decoration: line-through;
}

.textDecor {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}