                 /* ===== color grey ===== */
                 .grey900 {
                    color: var(--Grey900);
                }
                .grey800 {
                    color: var(--Grey800);
                }
                .grey750 {
                    color: var(--Grey750);
                }
                .grey700 {
                    color: var(--Grey700);
                }
                .grey600 {
                    color: var(--Grey600);
                }
                .grey500 {
                    color: var(--Grey500);
                }
                .grey400 {
                    color: var(--Grey400);
                }
                .grey300 {
                    color: var(--Grey300);
                }
                .grey200 {
                    color: var(--Grey200);
                }
                .grey100 {
                    color: var(--Grey100);
                }
              /* ===== color grey ===== */
              /* ===== bg color grey ===== */
                .greyBg900 {
                    background: var(--Grey900);
                }
                .greyBg800 {
                    background: var(--Grey800);
                }
                .greyBg750 {
                    background: var(--Grey750);
                }
                .greyBg700 {
                    background: var(--Grey700);
                }
                .greyBg600 {
                    background: var(--Grey600);
                }
                .greyBg500 {
                    background: var(--Grey500);
                }
                .greyBg400 {
                    background: var(--Grey400);
                }
                .greyBg300 {
                    background: var(--Grey300);
                }
                .greyBg200 {
                    background: var(--Grey200);
                }
                .greyBg100 {
                    background: var(--Grey100);
                }
                .WhiteBg {
                    background-color: var(--white);
                
                }
                .WhiteBgTrans {
                    background-color: var(--White-transparent);
                }
              /* ===== bg color grey ===== */
