                 /* ===== color grey ===== */
                 .Grey900 {
                    color: var(--Grey900);
                }
                .Grey800 {
                    color: var(--Grey800);
                }
                .Grey700 {
                    color: var(--Grey700);
                }
                .Grey600 {
                    color: var(--Grey600);
                }
                .Grey500 {
                    color: var(--Grey500);
                }
                .Grey400 {
                    color: var(--Grey400);
                }
                .Grey300 {
                    color: var(--Grey300);
                }
                .Grey200 {
                    color: var(--Grey200);
                }
                .Grey100 {
                    color: var(--Grey100);
                }
              /* ===== color grey ===== */
              /* ===== bg color grey ===== */
                .GreyBg900 {
                    background: var(--Grey900);
                }
                .GreyBg800 {
                    background: var(--Grey800);
                }
                .GreyBg700 {
                    background: var(--Grey700);
                }
                .GreyBg600 {
                    background: var(--Grey600);
                }
                .GreyBg500 {
                    background: var(--Grey500);
                }
                .GreyBg400 {
                    background: var(--Grey400);
                }
                .GreyBg300 {
                    background: var(--Grey300);
                }
                .GreyBg200 {
                    background: var(--Grey200);
                }
                .GreyBg100 {
                    background: var(--Grey100);
                }
                .WhiteBg {
                    background-color: var(--white);
                
                }
                .WhiteBgTrans {
                    background-color: var(--White-transparent);
                }
              /* ===== bg color grey ===== */