.noMargin {
    margin: 0 !important;
}
.marginXS {
    margin: 0.5em;
}
.marginS {
    margin: 1em;
}
.marginM {
    margin: 1.5em;
}
.marginL {
    margin: 2em;
}
.marginXL {
    margin: 2.5em;
}
.marginMax {
    margin: 3em;
}