.paddingXS {
    padding: var(--paddingXS);
    width: fit-content;
  }
  .paddingS {
      padding: var(--paddingS);
      width: fit-content;
  }
  .paddingM {
      padding: var(--paddingM);
      width: fit-content;
  }

  .paddingL {
      padding: var(--paddingL);
      width: fit-content;
  }
  .paddingXL {
      padding: var(--paddingXL);
      width: fit-content;
  }
  .paddingMax {
      padding: var(--paddingMax);
      width: fit-content;
  }