<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>JavaScript Learning</title>
  <link rel="stylesheet" href="main.css" />
    <!-- Include Prism.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" rel="stylesheet">
    <!-- Google Font Preconnect-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Font Preconnect-->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!--sitewide font-family: 'Lato', sans-serif; -->
</head>

<body class="wrapper">
  <br>

  <header>
    <h1>JavaScript Learning</h1>
  </header>
  <hr>
  <br>
  <br>
  <br>
  <br>
  <main>
    <h1>Projects</h1>
    <a href="project_guess_number">
      <h3 class="textUnderline">Guess My Number!</h3>
    </a>
    <a href="project_modal">
      <h3 class="textUnderline">Modal</h3>
    </a>
    <a href="project_pig_game">
      <h3 class="textUnderline">Pig Game</h3>
    </a>

    <hr>
    <br>
    <br>

    <h1>Exercise</h1>

    <a href="exercise_behind_the_scenes">
      <h3 class="textUnderline">Behind the scenes</h3>
    </a>
    <a href="exercise_data_structure_operators">
      <h3 class="textUnderline">Data Structure operators</h3>
    </a>

    <h1>Sections</h1>
    <a href="section_two">
      <h3 class="textUnderline">Section 2</h3>
    </a>
    <a href="section_nine">
      <h3 class="textUnderline">Section 9</h3>
    </a>



  </main>

  <script src="script.js"></script>
  <!-- Include Prism.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-javascript.min.js"></script>

</body>





</html>