<div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
            <div class="element">
                <h3><%= paragraphTxt %></h3>
            </div>
        </div>
    </div>
</div>