<% if (typeof greetingTxt === 'undefined') { 
  greetingTxt = ''; 
} 
%>

<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters">
    <div class="Grid-cell">
      <div class="element">
        <p class="t-hello"><%= greetingTxt %></p>
      </div>
    </div>
  </div>
</div>