<% if (typeof colorTxt === 'undefined') { 
  colorTxt = ''; 
} %>  
<% if (typeof colorBg === 'undefined') { 
  colorBg = ''; 
} %>

<h6 class="chipSmall <%= colorBg %> <%= colorTxt %>">
  <%= chipSmallTxt %>
</h6>