<div class="wrapper">
    <div class="Grid Grid--full Grid--gutters">
        <div class="Grid-cell">
            <div class="element">
                <h1><strong><%= titleTxt %></strong></h1>
            </div>
        </div>
    </div>
</div>