
<% if (typeof sectionName === 'undefined') { 
  sectionName = ''; 
} 
%>

    <div class="wrapperL">
      <div class="blankHXS"></div>

      <div class="Grid Grid--gutters Grid--cols-3 Grid--center u-textCenter">
        <div class="Grid-cell">
          <hr>
        </div>
        <div class="Grid-cell">
          <h6 class="Grey500"><%= sectionName %></h6>
        </div>
        <div class="Grid-cell">
          <hr>
        </div>
      </div>
      <div class="blankHXS"></div>

    </div>