
<div class="blankHXXS"></div>
<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Experience Design </h1>
        <h5 class="TextPoppins textItalic fontWeight200">2021 - Present</h5>
      </div>
    </div>
  </div>
</div>

<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Senior UX Designer</h3>
                <h6 class="TextPoppins textItalic">2024 – Present</h6>
                <h6 class="TextPoppins textItalic">Full-time &#64; BabyQuip </h6>
                <h4 class="fontWeight400 colorYellowVW700">Baby Gear Rental </h4>
                <ul>
                  <li>&#9675; Marketplace </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">User Experience Designer</h3>
                <h6 class="TextPoppins textItalic">2021 – 2024</h6>
                <h6 class="TextPoppins textItalic">Full-time &#64; BookYourPet</h6>

                <h4 class="fontWeight400 colorYellowVW700">Business SaaS Booking App</h4>
                <ul>
                  <li>&#9675; Pet service booking system
                  </li>
                  <li>&#9675; Operations management tool </li>
                </ul>

                <h4 class="fontWeight400 colorYellowVW700">Consumer Booking Mobile App </h4>
                <ul>
                  <li>&#9675; Booking & Payment </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Product Designer</h3>
                <h6 class="TextPoppins textItalic">2023 – 2024</h6>
                <h6 class="TextPoppins textItalic">Part-time &#64; LASO Health</h6>
                <h4 class="fontWeight400 colorYellowVW700">Prescription Medication Sales</h4>
                <ul>
                  <li>&#9675; UX research for marketing web pages</li>
                  <li>&#9675; Super Admin panel for effective user management</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">UX Designer</h3>
                <h6 class="TextPoppins textItalic">2023</h6>
                <h6 class="TextPoppins textItalic">Part-time &#64; Modernized Mobile LLC</h6>
                <h4 class="fontWeight400 colorYellowVW700">Clean Spaces App</h4>
                <ul>
                  <li>&#9675; Tablet-based Admin Panel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="blankHXS"></div>


<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Web Design & Implementation </h1>
        <h5 class="TextPoppins textItalic fontWeight200">2020 - Present</h5>
      </div>
    </div>
    <div class="blankHXXS"></div>

  </div>
</div>
<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Web Design</h3>
                <h5>&#9675; Responsive Web Design</h5>

              </div>
            </div>
          </div>
        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400"><a href="/design_system/" class="textUnderline">Design System</a> </h3>
                <h5>&#9675; Reusable & Scalable Components</h5>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Deployed on AWS S3</h3>
                <h5>&#9675; Build from Scratch </h5>
                <h5><a href="https://github.com/vicky-wyq" class="textUnderline">&#9675; HTML, CSS, JavaScript, EJS </a> </h5>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="blankHXS"></div>


<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Architectural Design
        </h1>
        <h5 class="TextPoppins textItalic fontWeight200">2010 - 2018</h5>

      </div>
    </div>
  </div>
</div>
<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Architectural Designer</h3>
                <h6 class="TextPoppins textItalic">2017 &#8211; 2018</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; <a href="https://buro-os.com/" class="textUnderline">Buro OS</a></h6>
                <h6>&#9675; Concept & Visual Design</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Design Intern</h3>
                <h6 class="TextPoppins textItalic">2017</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; In Design Studio </h6>
                <h6>&#9675; Building elevation, section, details documents
                </h6>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Architectural Designer
                </h3>
                <h6 class="TextPoppins textItalic">2013 &#8211; 2015</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; <a href="http://www.pdidg.com/" class="textUnderline"> PDI Design Group </a> </h6>
                <h6>&#9675; Schematic Design
                </h6>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Design Intern
                </h3>
                <h6 class="TextPoppins textItalic">2010 &#8211; 2012</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Part-time &#64; <a href="http://chengdapeng.art/" class="textUnderline"> Do Union </a></h6>
                <h6>&#9675; Concept & Visualization
                </h6>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="blankHXS"></div>
<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Education & Professional Development
        </h1>

        <h5 class="TextPoppins textItalic fontWeight200">2009 - Present</h5>
      </div>
    </div>
  </div>
</div>



<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Udemy</h3>
                <h6 class="TextPoppins textItalic fontWeight400">2024, Online Class</h6>
                <h6>The Complete <a href="/javascript-learning/" class="textUnderline">JavaScript Course</a> </h6>
                <h6>From Zero to Expert </h6>


              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Codecademy</h3>
                <h6 class="TextPoppins textItalic fontWeight400">2022 &#8211; 2023, Online Class</h6>
                <ul>
                  <li>○ Learn User Research: Generative </li>
                  <li>○ Learn Design Thinking: Ideation </li>
                  <li>○ Learn Interaction Design </li>
                  <li>○ Learn Introduction to UI and UX Design</li>
                  <li>○ Learn Responsive Design </li>
                  <li>○ Learn Navigation Design </li>
                  <li>○ Learn JavaScript </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Google UX Design Professional Certificate
                </h3>
                <h6 class="TextPoppins textItalic fontWeight400">2021, Online Class</h6>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400"><a href="https://www.berkeley.edu/" class="textUnderline">UC Berkeley</a> &#160;, <a href="https://ced.berkeley.edu/" class="textUnderline">CED</a></h3>
                <h6 class="TextPoppins textItalic fontWeight400">2015 &#8211; 2017, Full-time</h6>
                <h6 class="TextPoppins textItalic fontWeight400">2017 &#8211; 2019, Full-time</h6>
                <h6><a href="/architecture" class="textUnderline">Master of Architecture</a> </h6>
                <h6>3-year program</h6>


              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Beijing Uni. of Tech </h3>
                <h6 class="TextPoppins textItalic fontWeight400">2009 - 2013, Full-time</h6>
                <h6>Art & Design</h6>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>


      </div>
    </div>
  </div>
</div>


<div class="blankHXS"></div>
<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Leisure Activities
        </h1>

      </div>
    </div>
  </div>
</div>
<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">



        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400"><a href="/photography" class="textUnderline">Photography</a> </h3>

                <h6 class="TextPoppins textItalic">2017 - Present, Part-time</h6>
                <h6>Nature & Wildlife</h6>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Drawing & Painting

                </h3>
                <h6 class="TextPoppins textItalic">From childhood through college.
                </h6>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>

      </div>
    </div>
  </div>
</div>