<div class="blankHXXS"></div>
<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Experience Design </h1>
        <h5 class="TextPoppins textItalic fontWeight200">2021 - Present</h5>
      </div>
    </div>
  </div>
</div>

<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Senior UX Designer</h3>
                <h6 class="TextPoppins textItalic">2024 – Present</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; BabyQuip </h6>
                <h4 class="fontWeight400 colorYellowVW700">Baby Gear Rental </h4>

                <ul>
                  <li>&#9675; B2C marketplace: baby gear search, rental, and checkout </li>
                  <li>&#9675; Partner dashboard: inventory management & gear listing</li>

                </ul>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">User Experience Designer</h3>
                <h6 class="TextPoppins textItalic">2021 – 2024</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; BookYourPet</h6>

                <h4 class="fontWeight400 colorYellowVW700">Pet Booking Platform</h4>
                <ul>
                  <li>&#9675; B2B SaaS: pet service booking</li>
                  <li>&#9675; B2C mobile: customer booking & payment</li>
                  <li>&#9675; Admin dashboard: operations management</li>

                </ul>


              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Product Designer</h3>
                <h6 class="TextPoppins textItalic">2023 – 2024</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Part-time &#64; LASO Health</h6>
                <h4 class="fontWeight400 colorYellowVW700">Prescription Medication Sales Platform </h4>
                <ul>
                  <li>&#9675; Marketing website: UX research for consumer messaging</li>
                  <li>&#9675; Super Admin panel: user account management & permission control</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">UX Designer</h3>
                <h6 class="TextPoppins textItalic">2023</h6>
                <h6 class="TextPoppins textItalic">Part-time &#64; Modernized Mobile LLC</h6>
                <h4 class="fontWeight400 colorYellowVW700">Clean Spaces App</h4>
                <ul>
                  <li>&#9675; Tablet-based Admin Panel</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="blankHXS"></div>


<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Web Design & Implementation </h1>
        <h5 class="TextPoppins textItalic fontWeight200">2020 - Present</h5>
      </div>
    </div>
    <div class="blankHXXS"></div>

  </div>
</div>
<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Portfolio Site</h3>
                <h6 class="TextPoppins textItalic">2020 - Present</h6>
                <h5>&#9675; Built & maintained personal site using AWS S3, <a href="https://github.com/vicky-wyq" class="textUnderline"> HTML, CSS, JS, EJS </a>
                </h5>
                <h5>&#9675; Designed scalable components using responsive layout & design system logic</h5>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="blankHXS"></div>


<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Architectural Design
        </h1>
        <h5 class="TextPoppins textItalic fontWeight200">2010 - 2018</h5>

      </div>
    </div>
  </div>
</div>
<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Architectural Designer</h3>
                <h6 class="TextPoppins textItalic">2017 &#8211; 2018</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; <a href="https://buro-os.com/" class="textUnderline">Buro OS</a></h6>
                <h6>&#9675; Concept & Visual Design</h6>


                <div class="blankHTiny"></div>

                <h6 class="TextPoppins textItalic">2013 &#8211; 2015</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Full-time &#64; <a href="http://www.pdidg.com/" class="textUnderline"> PDI Design Group </a> </h6>
                <h6>&#9675; Schematic Design
                </h6>
              </div>
            </div>
          </div>
        </div>

        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">


                <h3 class="page__job-name fontWeight400">Design Intern
                </h3>


                <h6 class="TextPoppins textItalic">2010–2017</h6>
                <h6 class="TextPoppins textItalic fontWeight400">Part-time & full-time across multiple firms</h6>
                <h6>&#9675; Concept development, visualization, construction documents
                </h6>





              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>


      </div>
    </div>
  </div>
</div>


<div class="blankHXS"></div>
<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Education & Professional Development
        </h1>

        <h5 class="TextPoppins textItalic fontWeight200">2009 - Present</h5>
      </div>
    </div>
  </div>
</div>



<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Professional Training & Certifications</h3>
                <h6 class="TextPoppins textItalic fontWeight400">2021 – Present, Online</h6>
                <h6>&#9675; Udemy: The Complete <a href="/javascript-learning/" class="textUnderline">JavaScript</a> (2024)
                </h6>

                <h6>&#9675;<a href="https://www.udemy.com/certificate/UC-052eaeb2-989a-42a8-8481-5035c55fd42c/" class="textUnderline"> Become a Product Manager</a> (2023)
                </h6>


                <h6>&#9675; Codecademy: UX Research, UI/UX Design, JavaScript (2022–2023)</h6>

                <h6>&#9675; Google UX Design Certificate (2021) </h6>



              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>


        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400"><a href="https://www.berkeley.edu/" class="textUnderline">UC Berkeley</a> &#160;, <a href="https://ced.berkeley.edu/" class="textUnderline">CED</a></h3>
                <h6 class="TextPoppins textItalic fontWeight400">2015 &#8211; 2017, Full-time</h6>
                <h6 class="TextPoppins textItalic fontWeight400">2017 &#8211; 2019, Full-time</h6>
                <h6><a href="/architecture" class="textUnderline">Master of Architecture</a> </h6>
                <h6>3-year program</h6>

                <div class="blankHTiny"></div>

                <h3 class="page__job-name fontWeight400">Beijing Uni. of Tech </h3>
                <h6 class="TextPoppins textItalic fontWeight400">2009 - 2013, Full-time</h6>
                <h6>Art & Design</h6>

              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>


      </div>
    </div>
  </div>
</div>


<div class="blankHXS"></div>
<div class="wrapper">
  <div class="Grid Grid--full Grid--gutters u-textCenter">
    <div class="Grid-cell">
      <div class="element">
        <h1 class="TextPoppins fontWeight100 Grey800"> Leisure Activities </h1>

      </div>
    </div>
  </div>
</div>
<div class="page timeline-5-2" data-uia-timeline-skin="5">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">



        <div class="uia-timeline__group">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 class="page__job-name fontWeight400">Visual Practice
                </h3>

                <h6>&#9675; <a href="/photography" class="textUnderline">Photography</a> (2017–Present): nature & wildlife
                </h6>
                <h6>&#9675; Drawing & painting (childhood–college): visual expression & form study
                </h6>



              </div>
            </div>
          </div>
          <div class="blankHXXS"></div>

        </div>


      </div>
    </div>
  </div>
</div>