
<div class="SkylineBlueDarkerer">
    <div class="wrapper">
      <div class="Grid-cell">
        <img src="./Placeholder.svg" alt="Background Color: Others" class="modal-target" data-bgcolor="rgba(230, 246, 246, 0.96)">
      </div>
    </div>
  </div>                   
