<% 
if (typeof PageUrl === 'undefined') { 
  PageUrl = ''; 
} 


if (typeof headerBackgroundColor === 'undefined') { 
  headerBackgroundColor = ''; 
} 

if (typeof arrTxtColor === 'undefined') { 
  arrTxtColor = ''; 
} 
%>

<header>
  <nav class="header <%= headerBackgroundColor %>" id="header">
    <div class="headerContainer">
      <a class="row marginS" href="javascript:void(0);" onclick="history.back(); return false;">
        <div class="arrow-container moveBackArrow">
          <div class="left-arrow <%= arrTxtColor %>"></div>
        </div>
        <h4 class="backText <%= arrTxtColor %>">Back</h4>
      </a>
      <!--
      
            <div class="navbar">
        <a href="/"><img class="pointer widthXXS marginS" src="<%= websitePath %>/icon/LOGOtxtOnly.svg" alt="VW" title="vickywang.me"></a>

      </div>
      -->


    </div>
  </nav>
</header>