<div class="GreyBg100">
  <div class="blankHXS"></div>
  <div class="wrapper">
    <div class="element">
      <h3 class="accordion accordionBorderTop noMargin "><strong>Title</strong> </h3>
      <div class="accordion-content">
        <div class="blankHXS"></div>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</h4>
        <div class="blankHXS"></div>
      </div>

      <h3 class="accordion noMargin "><strong>Title</strong> </h3>
      <div class="accordion-content">
        <div class="blankHXS"></div>

        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</h4>
        <div class="blankHXS"></div>
      </div>
      <h3 class="accordion accordionBorderBottom noMargin "><strong>Title</strong> </h3>

      <div class="accordion-content">
        <div class="blankHXS"></div>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</h4>
        <div class="blankHXS"></div>
      </div>
    </div>
  </div>

  <div class="blankHXS"></div>
</div>