<% if (typeof bgColor === 'undefined') { 
  bgColor = ''; 
} 
%>

<% if (typeof figmaUrl === 'undefined') { 
  figmaUrl = ''; 
} 
%>
  <div class="<%= bgColor %>">
    <div class="blankPhone"></div>
    <div class="blankHS"></div>
    <div class="ProjectBanner displayLaptop">
      <div class="blankMin1880"></div>
      <img src="Mockup.png" alt="APPOINTA">
      <div class="ProjectBannerInner">
        <a href="<%= figmaUrl %>" target="_blank"> <button class="button-35 APPOINTA">Slide Decks</button></a>
      </div>
    </div>
    <div class="ProjectBanner displayTablet">
      <div class="blankMin1880"></div>
      <img class="displayTablet" src="MockupS.png" alt="APPOINTA">
      <div class="ProjectBannerInner">
        <a href="<%= figmaUrl %>" target="_blank"> <button class="button-35 APPOINTA">Slide Decks</button></a>
        <div class="blankHXS"></div>
      </div>
    </div>
    <div class="ProjectBanner displayPhone">
      <div class="blankMin1880"></div>
      <img class="displayPhone" src="MockupXS.png" alt="APPOINTA">
      <div class="ProjectBannerInner">
        <a href="<%= figmaUrl %>" target="_blank"> <button class="button-35 APPOINTA">Slide Decks</button></a>
        <div class="blankHXS"></div>
      </div>
    </div>
  </div>