<div class="wrapper colorBgWhite">
  <div class="cardNoEffect">
    <div class="card__left">

      <h2 class="fontWeight400">Design System & Implementation Thinking


      </h2>

      <h5>A personal design system iterated since 2020 to test scalable layouts, accessibility, and design-code parity across production surfaces.
      </h5>


      <div class="card__cta">
        <a href="/design_system/">
          <button class="buttonMedium buttonFlip">View Design System</button>
        </a>

      </div>
      <div class="spacingXSmall displayMobile"></div>
    </div>

    <div class="card__right">
      <div class="card25-media">
        <img src="/project_images/cover_design_system.svg" alt="design system" class="card25-media-img">
      </div>
    </div>
  </div>
</div>