
<% if (typeof gated === 'undefined') {
  gated = false;
} %>
<% if (typeof ctaButton === 'undefined') {
  ctaButton = 'buttonPrimary';
} %>
<% if (typeof modalId === 'undefined') {
  modalId = 'packageAccessModal';
} %>

    <div class="wrapper">
      <div class="card">
        <div class="card__left">
          <p class="card25CardMeta">Business-Facing • Q3 2025</p>
          <h2 class="fontWeight400">Building a Scalable Package System for Marketplace Bundles</h2>
          <h4>Enabled standardized package discovery before provider selection in a provider-dependent marketplace.</h4>


          <div class="card__cta">
            <h4>More bundle visibility · Earlier package discovery</h4>
            <div class="spacingSmall"></div>

            <% if (gated) { %>
              <%- include(`${templatePath}/shared/modal_email_for_access`, {
                ctaButton,
                modalId
              }) %>
            <% } else { %>
              <a href="/bq_b2b_package">
                <button class="buttonMedium <%= ctaButton %>">View Case Study</button>
              </a>
            <% } %>
          </div>
          <div class="spacingXSmall displayMobile"></div>





        </div>

        <div class="card__right">
          <div class="card25-media">
            <img src="/project_images/cover_bq_package.png" alt="project image" class="card25-media-img">
          </div>
        </div>
      </div>
    </div>
