
<% if (typeof spacing === 'undefined') { 
    spacing = ''; 
  } 
  %>
<% if (spacing === false) { %>
<!-- Arrow -->
<div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
            <div class="element">
                <h2 class="tArrow">
                    <%= message %> <img class="seArrow" src="<%= websitePath %>/icon/arrow-se.svg" alt="icon arrow">
                </h2>
            </div>
        </div>
    </div>
</div>
<% } else { %>
    <div class="blankHXXS"></div>
    <div class="wrapper">
        <div class="Grid Grid--full Grid--gutters u-textCenter">
            <div class="Grid-cell">
                <div class="element">
                    <h2 class="tArrow">
                        <%= message %> <img class="seArrow" src="<%= websitePath %>/icon/arrow-se.svg" alt="icon arrow">
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="blankHXXS"></div>
    <% } %>
