<div class="rowToColumn <%= audioPlayerBorderColor %> shadowBox centerVer borderRadiusM">
  <div class="widthMax paddingM">
    <h4><%= audioPlayerText %>
    </h4>

  </div>
  <div class="paddingleft">
    <div class=" widthFitContent">
      <div class="audio-container">
        <audio id="myAudio1">
          <source src="Audio_01_Overview.mp3">
          Your browser does not support the audio element.
        </audio>
        <br>
        <button class="<%= audioPlayerButtonColor %>  play-button">Play</button>
        <div class="time-display">0:00 / 0:00</div>
      </div>
    </div>
  </div>
</div>


