<div class="Grid-cell">
    <div class="element">
        <ul>
            <li class="listCircle"><%= listCircleTxt1 %></li>
            <li class="listCircle"><%= listCircleTxt2 %></li>
            <li class="listCircle"><%= listCircleTxt3 %></li>
            <li class="listCircle"><%= listCircleTxt4 %></li>
        </ul>
    </div>
</div>
