<!--     
    
<%
  sectionName     = (typeof sectionName     !== 'undefined') ? sectionName     : 'blankHXS';
  topSpacing      = (typeof topSpacing      !== 'undefined') ? topSpacing      : 'blankHXS';
  dividerSpacing  = (typeof dividerSpacing  !== 'undefined') ? dividerSpacing  : 'blankHXS';
  bottomSpacing   = (typeof bottomSpacing   !== 'undefined') ? bottomSpacing   : 'blankHXS';
%> -->
    
    <div class="wrapper">
      <div class="card25CardMargin">
        <div class="Grid Grid--gutters Grid--cols-2 Grid--top card25">
          <div class="Grid-cell">
            <div class="element">




              <div class="spacingSmall"></div>

              <p class="card25CardMeta">Business Facing Partner Portal • Q3 2025</p>
              <h2 class="card25CardTitle">BabyQuip Inventory Management</h2>
              <h5 class="card25CardDescription">Scaled inventory from hobbyist QPs to power users with a unified editing surface.</h5>


              <div class="spacingMedium displayTablet"></div>
              <div class="spacingMedium displayDesktop"></div>

              <h5 class="card25CardList">→ 3× faster edits for high-volume providers</h5>

              <div class="spacingLarge displayDesktop"></div>

              <div class="spacingLarge displayTablet"></div>



              <!-- Trigger 1 -->
              <a href="" class="open-modal" data-modal="modal1">
                <button class="buttonMedium buttonPrimary">View Case Study</button>
              </a>
              <!-- Modal 1 -->
              <div id="modal1" class="modal hidden">
                <span class="modal-close">
                  <img class="iconXforModal" src="../../icon/delete.svg" alt="×">
                </span>
                <div class="modal-content wrapperL">

                  <div class="column element">

                    <div class="containerCopy">
                      <div class="ClickandCopy">Email for access.</div>
                      <div class="copy-text">
                        <input id="copyEmail" name="copyEmail" type="text" class="text" value="hello.vicky.w@gmail.com" readonly>
                        <button class="centerHorz"> <img class="iconS" src="../icon/copyWt.svg">
                        </button>
                      </div>
                    </div>
                    <h5 class="textItalic">&#160; &#160; I’ll reply with a link within 24 hours.</h5>
                  </div>
                </div>
              </div>



            </div>
          </div>
          <div class="Grid-cell">
            <div class="element">
              <div class="card25ImgMargin">

                <div class="card25-media displayDesktop"> <img src="/projectImages/cover_bq_inventory_management.png" alt="" class="card25-media-img"></div>
                <div class="card25-media displayTablet"> <img src="/projectImages/cover_bq_inventory_management.png" alt="" class="card25-media-img"></div>
                                <div class="card25-media displayMobile"> <img src="/projectImages/cover_bq_inventory_management.png" alt="" class="card25-media-img"></div>
 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>