<div class="Grid Grid--full Grid--gutters">
    <div class="Grid-cell">
        <div class="element">
            <div class="elementDemoCard">
                <div class="elementInnerDemoCard heightS">
                    <h4> <strong> <%= cardTitle %></strong> </h4>
                    <p><%= cardText %>
                </div>
            </div>
        </div>
    </div>
</div>