<% if (typeof subTitleFont === 'undefined') { 
    subTitleFont = ''; 
  } 
  %>
<div class="Grid-cell">
  <div class="element">
    <% if (subTitleFont === 'h2' ) { %>
    <h2><%= subTitle %></h2>
    <% } else if (subTitleFont ==='h3' ) { %>
    <h3><%= subTitle %></h3>
    <% } %>
  </div>
</div>