<div class="Grid-cell">
    <div class="element">
        <ul>
            <li><%= listTxt1 %></li>
            <li><%= listTxt2 %></li>
            <li><%= listTxt3 %></li>
        </ul>
    </div>
</div>