<div class="Grid Grid--full Grid--gutters">
    <div class="Grid-cell">
        <div class="element">
            <h4> <strong> <%= cardTitle %></strong> </h4>
            <p><%= cardText %>

            </p>
        </div>
    </div>
</div>