<div class="blankHXS"></div>
<div class="Grid Grid--full Grid--gutters u-textCenter">
  <ul class="tags" id="TagsCloud">

    <!-- Identity -->
    <li class="tag"><span class="box">Creative Designer & Strategic Thinker</span></li>
    <li class="tag"><span class="box">System-Level Thinking in UX</span></li>
    <li class="tag"><span class="box">UX Designer · SF Bay Area</span></li>

    <!-- Roles & Domains -->
    <li class="tag"><span class="box">Marketplace UX for Baby Gear Rentals (Mobile & Web)</span></li>
    <li class="tag"><span class="box">B2B Inventory Management Experience</span></li>
    <li class="tag"><span class="box">B2B SaaS Product Design</span></li>

    <!-- Skills & Tools -->
    <li class="tag"><span class="box">Design Systems & Responsive Layouts in Figma</span></li>
    <li class="tag"><span class="box">Front-End: HTML, CSS, JavaScript, EJS</span></li>
    
    <!-- UX Expertise -->
    <li class="tag"><span class="box">Design Thinking in Action</span></li>
    <li class="tag"><span class="box">User-Centered Workflow Design</span></li>
    <li class="tag"><span class="box">Journey Mapping for Complex Flows</span></li>
    <li class="tag"><span class="box">Usability Testing & Iteration</span></li>
    <li class="tag"><span class="box">UX Research & Insights</span></li>

    <!-- Deliverables -->
    <li class="tag"><span class="box">Live SaaS & Mobile Design Case Studies</span></li>
    <li class="tag"><span class="box">Design Impact on Conversion & Engagement</span></li>

    <!-- Mindset -->
    <li class="tag"><span class="box">Collaborative Problem Solver</span></li>
    <li class="tag"><span class="box">Cross-Functional Collaboration with PM & Engineering</span></li>
    <li class="tag"><span class="box">Always Iterating, Always Learning</span></li>
    <li class="tag"><span class="box">Tech-Driven Design Innovation</span></li>
    <li class="tag"><span class="box">Accessibility Considerations in UX</span></li>

  </ul>
</div>



  <div class="blankHXS"></div>
