<div class="blankHXS"></div>
<div class="Grid Grid--full Grid--gutters">
    <div class="Grid-cell">
        <div class="element">
            <hr>
        </div>
    </div>
</div>
<div class="blankHXS"></div>