<div class="Grid Grid--full Grid--gutters">
  <div class="Grid-cell">
    <div class="element">
      <div class="elementCard float cardBorder borderRadiusS shadowBoxLt">
        <img src="./PlaceholderDark_zeroBorderRadius.svg" alt="Placeholder">
        <div class="element">
          <h5><%= cardnLinkTopText %></h5>
          <h3 class="arrCard aos-init aos-animate" data-aos="fade-up"><strong><%= cardnLinkTitle %></strong></h3>
          <h4><%= cardnLinkText %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
