<% if (typeof barColor === 'undefined') { 
  barColor = ''; 
} 
%>


<!-- progressBarScroll -->
<div class="progressContainer">
  <div class="progress-container">
    <div class="progress-bar <%= barColor %>" id="progressBar"></div>
  </div>
</div>
<!-- progressBarScroll -->