  <!-- The Modal -->
  <div id="modal" class="modal">
    <span id="modal-close" class="modal-close">
      <img class="iconXforModal" src="<%= websitePath %>/icon/delete.svg" alt="modal">
    </span>
    <button id="modal-previous" class="modal-gallery-control modal-gallery-control--previous" type="button" aria-label="Previous image">
      <img class="modal-gallery-control__icon" src="<%= websitePath %>/icon/arrow-left.svg" alt="">
    </button>
    <div id="modal-caption" class="modal-caption"></div>
    <img id="modal-content" class="modal-content">
    <button id="modal-next" class="modal-gallery-control modal-gallery-control--next" type="button" aria-label="Next image">
      <img class="modal-gallery-control__icon" src="<%= websitePath %>/icon/arrow-right.svg" alt="">
    </button>
  </div>
  <!-- The Modal -->
