<div class="Grid Grid--full Grid--gutters">
    <div class="Grid-cell">
        <div class="element">
            <div class="shadowBox">
                <img src="./PlaceholderDark_zeroBorderRadius.svg" alt="Placeholder">
                <div class="element">
                    <div class="element">
                        <h5>Lorem</h5>
                        <h3><strong>Lorem ipsum</strong> </h3>
                        <p class="lineHorizAll"></p>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus
                            commodo.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>