  <footer class="colorFooterBg">
    <div class="spacingSmall"></div>
    <div class="wrapper">
      <div class="element">
        <div class="Grid Grid--full Grid--gutter">
          <div class="Grid-cell">
            <div class="element">
              <h1 class="fontWeight500 Grey600">vickywang.me</h1>

              <h4 class="">Marketplace & platform UX for high-volume users</h4>
            </div>
            <div class="spacingSmall"></div>

            <div class="rowLeftAligned">
              <div class="ClipboardBoxIconOnly">
                <button class="ClipboardIconOnly">
                  <img title="Copy Email Address to Clipboard" class="iconS hoverWhite paddingS fitContent borderRadiusMax" src="/icon/mail.svg" alt="LinkedIn">
                  <p class="clickIconCopy">vickyw.design@gmail.com</p>
                </button>
              </div>
              <a target="_blank" href="https://www.linkedin.com/in/vicky-wyq/" title="LinkedIn">
                <img class="iconS hoverWhite paddingS fitContent borderRadiusMax" src="/icon/in.svg" alt="LinkedIn">
              </a>

              <a target="_blank" href="https://github.com/vicky-wyq">
                <img class="iconS hoverWhite paddingS fitContent borderRadiusMax" src="/icon/git.svg" alt="GitHub" title="GitHub">
              </a>

              <a target="_blank" href="https://codepen.io/vicky-wyq" title="CodePen">
                <img class="iconS hoverWhite paddingS fitContent borderRadiusMax" src="/icon/Codepen.svg" alt="CodePen">
              </a>
            </div>
          </div>

        </div>


        <div class="spacingXLarge"></div>
        <div class="spacingMedium"></div>




        <div class="row centerVer footerBorder">
          <div class="element">

            <h6 class="Grey700"> &#169; 2020 - 2025 vickywang.me</h6>
          </div>
          <div class="element backToTop" id="backToTop">

            <h5 class="">Back to top</h5>
          </div>


        </div>
      </div>
  </footer>