<% 
    const options = locals.options || {};
    const body = locals.body || '';
    let classString = '';

    const SIZES = {
        FULL: '1'
    }
    const classes = {
        isFull: 'Grid--full',
        isForFullResponsiveGrid: 'Grid--gutters',
        isTextCenter: 'u-textCenter',
        siz
    };
    for(let key in options) {
        if (options[key] && classes[key]) {
            classString = `${classString} ${classes[key]}`;
        }
    }
%>

<div class="Grid <%= classString %>">
    <div class="Grid-cell">
        <%- body %>
    </div>
</div>
<!--



 -->