<!--
<div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
          <div class="Demo">
            <div class="elementInnerDemo content-1of1"></div>
          </div>
        </div>
      </div>
</div>
-->
<div class="wrapper">
    <div class="Grid Grid--full Grid--gutters u-textCenter">
        <div class="Grid-cell">
            <div class="element">
                <div class="elementInnerDemo content-1of1">
                    <%= content %>
                </div>
            </div>
        </div>
    </div>
</div>