<div class="wrapper">
  <div class="Grid Grid--gutters Grid--cols-8 u-textCenter Grid--center">


    <div class="Grid-cell">
      <div class="ClipboardBoxIconOnly">
        <button class="ClipboardIconOnly">
          <img title="Copy Email to Clipboard" class="iconM hoverGrey100 paddingMax borderRadiusMax"
            src="./icon/mail.svg" alt="LinkedIn">
          <p class="clickIconCopy">vickyw.design@gmail.com</p>
        </button>
      </div>

    </div>
    <div class="Grid-cell">
      <a href="https://www.linkedin.com/in/vicky-wyq/" target="_blank" title="LinkedIn">
        <img class="iconM hoverGrey100 paddingMax borderRadiusMax cardBorder borderRadiusS" src="./icon/in.svg" alt="LinkedIn">
      </a>
    </div>

    <div class="Grid-cell">
      <a href="https://github.com/vicky-wyq" target="_blank" title="GitHub">
        <img class="iconM hoverGrey100 paddingMax borderRadiusMax" src="./icon/git.svg" alt="GitHub">
      </a>
    </div>
    <div class="Grid-cell">
      <a href="https://codepen.io/vicky-wyq" target="_blank" title="CodePen">
        <img class="iconM hoverGrey100 paddingMax borderRadiusMax" src="./icon/Codepen.svg" alt="CodePen">
      </a>
    </div>

    <div class="Grid-cell">
      <a href="https://www.instagram.com/vw_yiqi/" target="_blank" title="Instagram">
        <img class="iconM hoverGrey100 paddingMax borderRadiusMax" src="./icon/ins.svg" alt="Instagram">
      </a>
    </div>





    <div class="Grid-cell">
    </div>
    <div class="Grid-cell">
    </div>
    <div class="Grid-cell">
    </div>
    <div class="Grid-cell">
    </div>
    <div class="Grid-cell">
    </div>
    <div class="Grid-cell">
    </div>
    <div class="Grid-cell">
    </div>




  </div>
  <div class="Grid Grid--gutters Grid--cols-3">
    <a href="/resume.pdf" target="_blank"> <button class="buttonLanding arrButtonResume">Resume
        &nbsp;
      </button></a>
    <a href="/about"> <button class="buttonLanding arrButton">About me &nbsp;
      </button></a>
  </div>
</div>