<% if (typeof ctaButton === 'undefined') { 
  ctaButton = ''; 
} %>
<% if (typeof modalId === 'undefined') { 
  modalId = 'modal1'; 
} %>
<% if (typeof buttonLabel === 'undefined') { 
  buttonLabel = 'View Case Study'; 
} %>


  <!-- Trigger 1 -->
  <a href="" class="open-modal alignBottom cta" data-modal="<%= modalId %>">
    <button class="buttonMedium <%= ctaButton %>"><%= buttonLabel %></button>
  </a>
  <!-- Modal 1 -->
  <div id="<%= modalId %>" class="modal hidden">
    <span class="modal-close">
      <img class="iconXforModal" src="../../icon/delete.svg" alt="×">
    </span>
    <div class="modal-content wrapperL">

      <div class="column element">

        <div class="containerCopy">
          <div class="ClickandCopy">Email for access.</div>
          <div class="copy-text">
            <input id="copyEmail" name="copyEmail" type="text" class="text" value="hello.vicky.w@gmail.com" readonly="">
            <button class="centerHorz"> <img class="iconS" src="../icon/copyWt.svg">
            </button>
          </div>
        </div>
        <h5 class="textItalic">&nbsp; &nbsp; I’ll reply with a link within 24 hours.</h5>
      </div>
    </div>
  </div>
