  <div class="GreyBg200">
    <div class="blankPhone"></div>
    <div class="blankHS"></div>
    <div class="ProjectBanner displayDesktop">
      <div class="blankMin1880"></div>
      <img src="Mockup.png" alt="vickywang.me">

      <div class="ProjectBannerInnerND">
        <h1><strong>Design System</strong> </h1>

        <h3 class="Grid Grid--center colorBlack">Click, hover, or adjust the viewport to observe the responsive layout
          and component behavior</h3>
        <!--       <img class="shrinkAndExpand widthS" src="../icon/arrowLR.svg" alt="se-arrow"> -->

        <h5 class="textItalic">Design, implement, and maintain this website since October 2020</h5>

      </div>
    </div>

    <div class="ProjectBanner displayTablet">
      <div class="blankMin1880"></div>
      <img class="displayTablet" src="MockupS.png" alt="vickywang.me">
      <div class="ProjectBannerInnerND">
        <h1><strong>Design System</strong> </h1>
        <h3 class="Grid Grid--center colorBlack">Click, hover, or adjust the viewport to observe the responsive layout
          and component behavior</h3>
        <h5 class="textItalic">Design, implement, and maintain this website since October 2020</h5>

      </div>
    </div>
    <div class="ProjectBanner displayMobile">
      <div class="blankMin1880"></div>
      <img class="displayMobile" src="MockupXS.png" alt="vickywang.me">
      <div class="ProjectBannerInnerND">
        <h1><strong>Design System</strong> </h1>
        <h3 class="Grid Grid--center colorBlack">Click, hover, or adjust the viewport to observe the responsive layout
          and component behavior</h3>
        <h5 class="textItalic">Design, implement, and maintain this website since October 2020</h5>

      </div>

    </div>
  </div>
