  <section id="contact" data-nav="contact">
    <div class="spacingXLarge"></div>

    <div class="wrapper">
      <div class="Grid Grid--full Grid--gutter">
        <div class="Grid-cell">
          <div class="element">
            <div class="rowcard25 centerVer">
              <div class="photoWrappercard25">
                <img class="landingProfileImg" src="photo_profile_avatar.png" alt="vicky">
              </div>
              <div class="chat-bubble-wrap">
                <div class="card25Chat chat-bubble">

                  <span class="bubble-text">Let's Connect</span>
                </div>
              </div>
            </div>
            <div class="spacingXSmall"></div>
            <h1 class=""> Working on marketplaces or platform UX? I’d love to hear what you’re building.
            </h1>
            <h4 class="fontWeight300">Collaborations, product discussions, or feedback on my work.</h4>
            <div class="spacingSmall"></div>
            <a href="mailto:vickyw.design@gmail.com" class="textUnderline">
              <h5 class="fontWeight400">Email me &#8594;</h5>
            </a>
            <a href="https://www.linkedin.com/in/vicky-wyq/" class="textUnderline">
              <h5 class="fontWeight400">Message me on LinkedIn &#8599; </h5>
            </a>


            <div class="spacingXLarge"></div>

            <a href="/resume"> <button class="buttonMedium buttonFlip WhiteBg">View Resume </button></a>



          </div>

        </div>
      </div>


    </div>



    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>
    <div class="spacingXLarge"></div>


  </section>