<% if (typeof txtBold === 'undefined') { 
  txtBold = ''; 
} %>
<% if (typeof txtNormal === 'undefined') { 
  txtNormal = ''; 
} %>

<h6><span class="fontWeight400"> <%= txtBold %></span><%= txtNormal %> </h6>