<% if (typeof txtBold === 'undefined') { 
  txtBold = ''; 
} %>
<% if (typeof txtNormal === 'undefined') { 
  txtNormal = ''; 
} %>

<h6> <%= txtNormal %> <span class="fontWeight400"> <%= txtBold %> </span> </h6>