<div class="blankHS"></div>

<!-- Arrow -->
<div class="wrapper">
    <div class="Grid Grid--full forFullResponsiveGrid u-textCenter">
        <div class="Grid-cell">
            <div class="element">
                <h2 class="tArrow">
                    <%= message %> <img class="seArrow" src="/ejs/html/icon/arrow-se.svg" alt="icon arrow">
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Arrow -->
<div class="blankHXS"></div>
